<form action="" method="post" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="username" ngModel #username="ngModel" required email>
        <div class="alert alert-danger" *ngIf="username.errors && username.dirty && username.touched">
            Please enter a valid email address.
        </div>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" ngModel #password="ngModel" required minlength="4">
        <div class="alert alert-danger" *ngIf="password.errors && password.dirty && password.touched">
            Password should be at least 5 characters.
        </div>

        <div class="alert alert-danger" *ngIf="attemptFailed">
            Incorrect email or password.
        </div>

        <button type="submit" [disabled]="form.invalid">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    </div>
</form>