<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img [src]="book?.picture" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600"
            height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">{{book?.title}}</h1><br>
        <h5 class="w3-center">By <a [routerLink]="['/authors', book?.author?.id]">{{book?.author?.fullName}}</a></h5>
        <h5 class="w3-center">Genre: <a [routerLink]="['/books', book?.genre]">{{book?.genre}}</a></h5>
        <h5 class="w3-center">Year of publication: {{book?.yearOfPublication}}</h5>
        <h5 class="w3-center">Price: {{book?.price}}$</h5>
        <p class="w3-large">{{book?.summary}}</p>
    </div>
</div>