#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table button {
    background-color: red;
    color: white;
    border: none;
    font-weight: 1000;
}

#buttons {
    display: flex;
    justify-content: space-between;
}